{{> head }}
{{> navbar }}

<div class="col-8">
     <h1>Título cualquiera</h1>
     <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, eligendi!
     </p>
</div>

<div class="col-4">
     <img src="assets/img/imagen.jpg" class="img-thumbnail">
</div>

{{> footer }}